<!DOCTYPE html>
<html>
  <head>
    <title>nnnnn</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
   
    <form action="/register" method="post">
      <input type="text" name="username" placeholder="username">
      <input type="password" name="password" placeholder="password">
      <input type="email" name="email" placeholder="email">
      <input type="submit" value="Register">
    </form>
  </body>
</html>
